@tailwind utilities;

code {
	background: var(--ax-bg-meta-purple-moderate);
	border-radius: var(--ax-border-radius-small);
	padding: 0.1rem 0.3rem;
	font-size: var(--ax-font-size-small, 0.7rem);
}

.shiki {
	padding: 1rem;
	font-size: 0.8rem;

	code {
		background: none;
		border-radius: none;
		padding: 0;
		font-size: 1rem;
	}
}

pre {
	tab-size: 2;

	&.shiki {
		overflow: auto;
	}
}

.header-anchor a {
	position: relative;
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
